/*GENERAL CSS*/
*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    font-family: segeo;
}

/* MARGINS EN PADDINGS*/


/*COLORS*/

/* FONTS */
@font-face {
    font-family: segoeui;
    src: url('../fonts/Segoe UI.woff');
}
@font-face{
    font-family: segoeuiitalic;
    src:url('../fonts/Segoe UI Italic.woff');
}
@font-face{
    font-family: segoeuibold;
    src:url('../fonts/Segoe UI Bold.woff');
}
@font-face{
    font-family: segoeuibolditalic;
    src:url('../fonts/Segoe UI Bold Italic.woff');
}
@font-face{
    font-family: segoeuilight;
    src:url('../fonts/Segoe UI Light.ttf');
}
/* POSITIONING CSS*/
/* Display Flex */
.d-flex {
    display: flex;
}

.d-inline-flex {
    display: inline-flex;
}

/* Flex Direction */
.flex-row {
    flex-direction: row;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.flex-column {
    flex-direction: column;
}

.flex-column-reverse {
    flex-direction: column-reverse;
}

/* Flex Wrap */
.flex-wrap {
    flex-wrap: wrap;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.flex-wrap-reverse {
    flex-wrap: wrap-reverse;
}

/* Justify Content */
.justify-content-start {
    justify-content: flex-start;
}

.justify-content-end {
    justify-content: flex-end;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-evenly {
    justify-content: space-evenly;
}

/* Align Items */
.align-items-start {
    align-items: flex-start;
}

.align-items-end {
    align-items: flex-end;
}

.align-items-center {
    align-items: center;
}

.align-items-baseline {
    align-items: baseline;
}

.align-items-stretch {
    align-items: stretch;
}

/* Align Content */
.align-content-start {
    align-content: flex-start;
}

.align-content-end {
    align-content: flex-end;
}

.align-content-center {
    align-content: center;
}

.align-content-between {
    align-content: space-between;
}

.align-content-around {
    align-content: space-around;
}

.align-content-stretch {
    align-content: stretch;
}

/* Align Self */
.align-self-auto {
    align-self: auto;
}

.align-self-start {
    align-self: flex-start;
}

.align-self-end {
    align-self: flex-end;
}

.align-self-center {
    align-self: center;
}

.align-self-baseline {
    align-self: baseline;
}

.align-self-stretch {
    align-self: stretch;
}

/* Order */
.order-first {
    order: -1;
}

.order-last {
    order: 13;
}

.order-0 {
    order: 0;
}

.order-1 {
    order: 1;
}

.order-2 {
    order: 2;
}

.order-3 {
    order: 3;
}

.order-4 {
    order: 4;
}

.order-5 {
    order: 5;
}

.order-6 {
    order: 6;
}

.order-7 {
    order: 7;
}

.order-8 {
    order: 8;
}

.order-9 {
    order: 9;
}

.order-10 {
    order: 10;
}

.order-11 {
    order: 11;
}

.order-12 {
    order: 12;
}

/* Grow and Shrink */
.flex-grow-0 {
    flex-grow: 0;
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-shrink-0 {
    flex-shrink: 0;
}

.flex-shrink-1 {
    flex-shrink: 1;
}
.text-center{
    text-align:center;
}
/* NAVIGATION MENU */

/*BODY*/
body{
    width: 1920px;
}
.wrapper{
    width: 1175px;
    margin: 0 auto;
}

/*Navbar*/
header{
    background: url("../img/background.png") no-repeat;
}
nav{
    padding-top: 58px;
    padding-bottom: 58px;
    background-color: rgba(57, 68, 75, 0.75);
}
nav p{
    width: 50%;
    font-family: segoeui;
    font-size: 30px;
    color: white;
}

nav span{
    color: rgb(75,203,255);
    font-family: segoeui;
}

nav ul li {
    list-style-type: none;
}

nav ul li .active{
    color: rgb(75,203,255);
    padding: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-family: segoeuibold;
    border: 2px solid transparent;
    padding: 10px 20px;
}

nav ul li a:hover{
    border: 2px solid rgb(75,203,255);
    color: rgb(75,203,255);
}


nav ul{
    width: 50%;
}

h1{
    line-height: 1.5;
    padding-top: 160px;
    padding-bottom: 160px;
}

h1 span{
    background: rgba(74,85,92,0.9);
    font-weight: 200;
    font-size: 42px;
    color: #fff;
    text-transform: uppercase;
    font-family: segoeuilight;
}

/*SERVICE SECTION*/
#services{
    background-color:rgb(75,202,255);
    color: white;
}

#services h2{
    padding-top: 75px;
    padding-bottom: 35px;
    font-family: segoeui;
    font-weight: 100;
    font-size: 30px;
    text-transform: uppercase;
}

#services h2 span{
    border-bottom: 2px solid white;
    font-family: segoeui;
    font-weight: 100;
    font-size: 30px;
    text-transform: uppercase;
}

#services h3{
    padding-top: 20px;
    padding-bottom:18px;
    font-family: segoeuibold;
    text-transform: uppercase;
    font-size: 24px;
}

#services p{
    padding-bottom: 80px;
    font-size: 12px;
    font-family: segoeuibold;
}

/*DEFAULT SECTION*/
#default{
    background-color: rgb(81,95,103);
}

#default section div{
    width: 50%;
}

.pr{
    padding-right: 180px;
}

section div h2{
    font-size: 30px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 300;
    font-family: "Segoe UI";
    padding-top: 108px;
    padding-bottom: 70px;
}

#default div p{
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    font-family: "Segoe UI";
    padding-bottom: 130px;
}

section div iframe{
    margin-top: 110px;
}

